In [3]:
Dharmita = [x for x in 'Tres bien']

In [4]:
Dharmita

['T', 'r', 'e', 's', ' ', 'b', 'i', 'e', 'n']

In [5]:
list = [x**3 for x in range(2,8)]

In [6]:
list

[8, 27, 64, 125, 216, 343]

In [7]:
list = [x**2 for x in range(6) if x % 3 == 0]

In [8]:
list

[0, 9]

In [10]:
celsius = [10,20,30.3]

farenheit =  [((9/5)*temp + 32) for temp in celsius ]

In [11]:
farenheit

[50.0, 68.0, 86.53999999999999]

In [12]:
list =  [ x**2 for x in [x**2 for x in range(6)]]

In [13]:
list

[0, 1, 16, 81, 256, 625]

In [14]:
##Assesment

In [15]:
list = "me , snehal , seesaw , standard , pooja , pratik , yatch"
for x in list.split():
    if x.startswith("s"):
        print(x)

snehal
seesaw
standard

In [27]:
list = [x/3 for x in range(1,50)]

In [26]:
list

[0.0,
 0.3333333333333333,
 0.6666666666666666,
 1.0,
 1.3333333333333333,
 1.6666666666666667,
 2.0,
 2.3333333333333335,
 2.6666666666666665,
 3.0,
 3.3333333333333335,
 3.6666666666666665,
 4.0,
 4.333333333333333,
 4.666666666666667,
 5.0,
 5.333333333333333,
 5.666666666666667,
 6.0,
 6.333333333333333,
 6.666666666666667,
 7.0,
 7.333333333333333,
 7.666666666666667,
 8.0,
 8.333333333333334,
 8.666666666666666,
 9.0,
 9.333333333333334,
 9.666666666666666,
 10.0,
 10.333333333333334,
 10.666666666666666,
 11.0,
 11.333333333333334,
 11.666666666666666,
 12.0,
 12.333333333333334,
 12.666666666666666,
 13.0,
 13.333333333333334,
 13.666666666666666,
 14.0,
 14.333333333333334,
 14.666666666666666,
 15.0,
 15.333333333333334,
 15.666666666666666,
 16.0,
 16.333333333333332]

In [31]:
s = 'Dharmita'
if len(s)% 2 == 0: 
    print('Even')
else:
    print('Odd')

Even

In [33]:
for fizzbuzz in range(100):
    if fizzbuzz % 15 == 0:
        print("FizzBuzz")                                        
        continue
    elif fizzbuzz % 3 == 0:    
        print("Fizz")                                        
        continue
    elif fizzbuzz % 5 == 0:        
        print("Buzz")                                    
        continue
    print(fizzbuzz)

FizzBuzz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz